input{
    min-width: 200px;
    padding: 22px;
   background-color: transparent;
   border: none;
   border-bottom: 2px solid rgb(164, 31, 236);
    outline: none;
    var(--text-light-color);
}

input:focus{
background-color: rgba(164, 31, 236, 0.2);
border-radius: var(--block-radius);

}
